doctype html
html
  head
    title Formator #{label ? ` (${label})`: ''}
    block head
    link(rel='stylesheet' href='style.css')
    style.
      body > div > details {
        box-shadow: 0 1px 2px silver;
        margin: auto;
        max-width: 560px;
        margin-bottom: 6px;
      }

      body > div > details:last-child {
        margin-bottom: 0;
      }

      body > div > details > summary {
        cursor: default;
        padding: 6px;
        color: gray;
        user-select: none;
      }

      body > div > details[open] > summary {
        color: black;
      }

      body > div {
        padding: 6px;
      }

      .debug {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        background-color: white;
        border: 1px dashed gray;
        position: fixed;
        padding: 10px;
        right: 10px;
        top: 10px;
        max-width: 320px;
        overflow: auto;
      }

      #editor > div {
        padding: 6px;
      }
  body
    block before
    block main
      div
        each test, i in tests
          details
            summary(id=`test-${test.testName}`) Test ##{i + 1} &mdash; #{(test && test.description) || ''}
            script(type='application/json' rel='resource' data-debug=`#json-${i}`) !{JSON.stringify(test, null, 2)}
            .debug: summary: details: pre(id=`json-${i}`)
        block after

      script(src='ajv.js')
      script(src='main.umd.js')
      script(src='main.test.js')
