doctype html
html
  head
    title Formator #{label ? ` (${label})`: ''}
    link(rel='stylesheet' href='/style.css')
    style.
      body > div > details {
        box-shadow: 0 1px 2px silver;
        margin: auto;
        max-width: 560px;
        margin-bottom: 6px;
      }

      body > div > details:last-child {
        margin-bottom: 0;
      }

      body > div > details > summary {
        cursor: default;
        padding: 6px;
        opacity: .5;
        color: gray;
        user-select: none;
      }

      body > div > details[open] > summary {
        opacity: 1;
        color: black;
      }

      body > div {
        padding: 6px;
      }
  body
    block before
    block main
      div
        each test, i in tests
          details
            summary(id=`test${i + 1}`) Test ##{i + 1} &mdash; #{(test && test.description) || ''}
            script(type='application/json' rel='resource') !{JSON.stringify(test, null, 2)}

      script(src='./main.umd.js')

      script.
        const details = [].slice.call(document.querySelectorAll('details'));
        const summaries = [].slice.call(document.querySelectorAll('summary'));

        window.addEventListener('click', e => {
          const index = summaries.indexOf(e.target);

          if (index !== -1) {
            summaries.forEach((node, offset) => {
              details[offset].removeAttribute('open');

              if (offset === index) {
                history.replaceState(null, document.title, `#${summaries[offset].id}`);
              }
            });
          }
        });

        setTimeout(() => {
          if (location.hash) {
            const target = document.querySelector(location.hash);

            if (target && target.tagName === 'SUMMARY') {
              target.click();
            }
          }
        });
