doctype html
html
  head
    title json-schema-formalizer #{label ? ` (${label})`: ''}
    link(rel='stylesheet' href='/style.css')
  body
    block before
    block main
      each test, i in tests
        details
          summary Test ##{i} &mdash; #{(test && test.description) || ''}
          script(type='application/json' rel='resource') !{JSON.stringify(test, null, 2)}
      script(src='/main.js')
