doctype html
html
  head
    title Formator #{label ? ` (${label})`: ''}
    block head
    style.
      body {
        font-family: Helvetica;
      }

      .formator > form + details,
      body > div > details {
        box-shadow: 0 1px 2px silver;
        margin: auto;
        max-width: 560px;
        margin-bottom: 10px;
      }

      body > div > details:last-child {
        margin-bottom: 0;
      }

      .formator > form + details > summary,
      body > div > details > summary {
        cursor: default;
        padding: 6px;
        color: gray;
        user-select: none;
      }

      .formator > form + details[open] > summary,
      body > div > details[open] > summary {
        color: black;
      }

      body > div {
        margin: 10px;
      }

      .formator > form + details,
      .debug {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        background-color: white;
        border: 1px dashed gray;
        position: fixed;
        padding: 10px;
        right: 10px;
        top: 10px;
        max-width: 320px;
      }

      .formator > form + details pre,
      .debug pre {
        overflow: auto;
        max-height: 20em;
      }

      #editor > div,
      #builder {
        margin: 10px;
      }
      #builder > details {
        margin-bottom: 0;
      }
      #builder summary + button {
        padding: 6px;
        margin: 10px;
      }
  body
    block before
    block main
      div
        each test, i in tests
          details
            summary(id=`test-${test.testName}`) Test ##{i + 1} &mdash; #{(test && test.description) || ''}
            script(type='application/json' rel='resource' data-debug=`#json-${i}`) !{JSON.stringify(test, null, 2)}
            .debug: details: pre(id=`json-${i}`)
        block after

      import(from='vendor.js')
      import(from='main-iife.js')
      import(from='main-test.js')
      import(from='flatpickr.css')
